params {
    // 1. Pipeline Inputs
    study_name      = "U251_Evolution_Baseline"
    outdir          = "./ANALYSIS/results_evolution"

    // 2. GSEA Inputs
    gsea_run        = true
    gene_sets_files = "/wsu/home/go/go24/go2432/u251-transcriptomic-evolution/ANALYSIS/refs/pathways/combined_human.gmt"
    
    // 3. GSEA Statistics (Fold Change is required for n=1)
    gsea_permute    = 'gene_set'
    gsea_metric     = 'Ratio_of_Classes'
    gsea_rnd_seed   = '1234'
    
    // 4. gProfiler Inputs
    gprofiler2_run      = true
    gprofiler2_organism = 'hsapiens'

    // 5. Differential Settings
    // We turn subsetting OFF here. With n=1, DESeq2 needs to "borrow" 
    // variance information from the other samples to be stable.
    differential_subset_to_contrast_samples = false
    deseq2_min_replicates_for_replace = 3
    
    // 6. Reference Genome (Human)
    gtf = "/wsu/home/go/go24/go2432/u251-transcriptomic-evolution/ANALYSIS/refs/human/GRCh38.primary_assembly.annotation.gtf.gz"
}
