// gsea_fix.config
process {
    withName: 'NFCORE_DIFFERENTIALABUNDANCE:DIFFERENTIALABUNDANCE:GSEA_GSEA' {
        // Overwriting arguments to use Ratio_of_Classes and gene_set permutation
        // This is safe for N=1 and N=2 sample groups
        ext.args = [
            '-metric Ratio_of_Classes',
            '-nperm 1000',
            '-permute gene_set',
            '-scoring_scheme weighted',
            '-sort real',
            '-order descending',
            '-set_max 500',
            '-set_min 15',
            '-norm meandiv',
            '-rnd_type no_balance',
            '-make_sets true',
            '-median false',
            '-num 100',
            '-plot_top_x 20',
            '-rnd_seed timestamp',
            '-save_rnd_lists false',
            '-zip_report false'
        ].join(' ')
    }
}
