params {
    // 1. Pipeline Inputs
    study_name      = "U251_Host_Response"
    outdir          = "./ANALYSIS/results_host_differential"

    // 2. GSEA Inputs
    gsea_run        = true
    // Using the correct parameter name for v1.5.0
    gene_sets_files = "${PWD}/ANALYSIS/refs/pathways/combined_rat.gmt" 
    
    // 3. GSEA Statistics
    gsea_permute    = 'gene_set'
    gsea_metric     = 'Signal2Noise'
    gsea_rnd_seed   = '1234'
    
    // 4. gProfiler Inputs (Rat Specific)
    gprofiler2_run      = true
    gprofiler2_organism = 'rnorvegicus'

    // 5. Differential Settings
    // We subset to keep the stats clean (e.g., ignoring Human reads if any snuck in)
    differential_subset_to_contrast_samples = true
    
    // 6. Reference Genome (Rat)
    gtf = "${PWD}/ANALYSIS/refs/rat/Rattus_norvegicus.mRatBN7.2.110.gtf.gz"
}
