// nextflow.config

process {
    executor       = 'slurm'
    // We leave 'queue' out so it uses the cluster's default partition
    // but we force the QoS flag into every single sub-job
    clusterOptions = '-q primary' 
}

singularity {
    enabled    = true
    autoMounts = true
    cacheDir   = "${HOME}/singularity_cache"
}

params {
    max_cpus   = 16
    max_memory = '64.GB'
}
