// nextflow.config
profiles {
    singularity {
        singularity.enabled     = true
        singularity.autoMounts  = true
        singularity.cacheDir    = "${HOME}/singularity_cache"
        singularity.runOptions  = "-B ${HOME} --env XDG_RUNTIME_DIR=${HOME}/xdr"
    }
}

process {
    executor       = 'slurm'
    clusterOptions = '-q primary'
    container      = 'docker://go2432/xengsort:latest'

    // Resource allocations with mandatory time limits
    withName: 'INDEX' {
        cpus   = 16
        memory = '60 GB'
        time   = '24h'
    }
    withName: 'CLASSIFY' {
        cpus   = 8
        memory = '30 GB'
        time   = '12h'
    }
    withName: 'MULTIQC' {
        cpus   = 2
        memory = '4 GB'
        time   = '2h'
    }
}

params {
    input       = "ANALYSIS/samplesheet.csv"
    // Reference paths - Updated for Rat (Host) and Human (Graft)
    host_fasta  = "ANALYSIS/refs/rat/Rattus_norvegicus.mRatBN7.2.dna.primary_assembly.fa.gz"
    graft_fasta = "ANALYSIS/refs/human/GRCh38.primary_assembly.genome.fa.gz"
    outdir      = "ANALYSIS/xengsort_out"
}
