process {
    withName: 'PICARD_MARKDUPLICATES' {
        // Request 200GB (Slurm will automatically pick a big node like 'mdt' or 'hax')
        memory = 200.GB
        time   = 24.h
        
        // The CORRECT partition name from your sinfo command
        // 'prip' contains the big nodes and has 30+ free spots
        queue  = 'prip' 
        
        // Ensure QoS matches
        clusterOptions = '-q primary'
    }
}
